
<!DOCTYPE html>

<html>
    
<head>
    

    <title>Twig - {% block title %}{% endblock %}</title> <!-- block ici pour le title -->
    {% block stylesheets %}
        <link rel="stylesheet" href="css/style.css">
    {% endblock %}

    
</head>
    
<body>
    
    {% block content %}{% endblock %}

    
</body>




</html>